# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.npm-cache
**/.venv
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
**/__pycache__/
*.py[cod]

# next.js
/.next/
/frontend/.next/
/out/
/frontend/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma
/frontend/app/generated/prisma
/backend/src/generated/prisma
/backend/app/generated/prisma
/backend/prisma/dev.db
/backend/prisma/dev.db-journal
/backend/storage/
